// Timer

.timer {
  background-color: $lightblue;
  color: $navy;
  max-width: 25rem;
  max-height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.5rem 1rem;
  padding: 0rem 0;
  border: 0.2rem solid $white;
  h4 {
    margin: auto;
    padding: 0;
  }
  p {
    margin: 0rem 1.5rem;
  }
}