@media screen and (max-width: 700px) {
    header {
        text-align: center;
        .info {
            p {
                line-height: 1.5em;
            }
            img.logo {
                display: none;
            }
            aside {
                display: none;
            }
        }
    }
    // Navigation

nav {
    ul {
      li {
        margin: 0;
        a {
            line-height: 1rem;
            font-size: 0.5rem;
          &:hover {
            color: $pink;
            // border-bottom: 0.2rem solid $pink;
          }
        }
      }
    }
  }
  
  .nav-icons{
    height: 1.5rem;
    margin: 0.1rem;
  }
}

@media screen and (min-width: 700px) and (max-width: 845px) {
    header {
        .info {
            img.logo {
            width: 150px * 0.7;
            height: 113px * 0.7;
            }
            .site-title {
                font-size: 1.5em;
            }
        }
    }

// Navigation

nav {
    ul {
      li {
        margin: 0 2rem;
          }
        }
      }
  }
  
  .nav-icons{
    height: 3rem;
    margin: 0.5rem;
  }


@media screen and (min-width: 426px) and (max-width: 767px) {

}

@media screen and (min-width: 768px) {

}

