.rechart {
}

.recharts-legend-wrapper {
    padding: 10px;
}

.recharts-label tspan {
    fill: $textgrey;
}

.recharts-text {
    fill: lighten($textgrey, 20%);
}

.recharts-cartesian-axis-tick-value {
    font-size: 13px;
}

.Composed-chart-wrapper{
    margin: 0 10px;
}

.percy_bar {
    fill: #3d5941;
}

.junior_bar {
    fill:  #b5b991;
}

.custom-tooltip {
    margin: 0px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    white-space: nowrap;
}