@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

$primaryColor: #0C2639;
$textColor: #C3D8EC;
$highlightColor: #FA5252;
$white: #F8F8F8;
$darkblue: #4E7590;
$mainfont: 'Comfortaa'
