
// Colors
$textgrey: #676a6c;

$navy: #0C2639;
$lightblue: #C3D8EC;
$pink: #FA5252;

$white: #F8F8F8;
$darkblue: #4E7590;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Open+Sans:400,600,700');

$mainfont: 'Comfortaa', sans-serif;
$secondaryfont: 'Open Sans', sans-serif;