@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700");
html, body {
  margin: 0;
  padding: 0;
  color: #C3D8EC;
  background: #0C2639;
  font-family: "Comfortaa"; }

a {
  text-decoration: none;
  color: #0C2639; }

.field {
  background-color: #f8f8f8;
  margin: 1rem; }

.field h2 {
  padding: 1rem;
  margin: 0;
  color: #0C2639; }

.myCards {
  display: flex;
  flex-wrap: wrap;
  background: #F8F8F8; }

.card {
  color: #0C2639;
  transition: 0.3s;
  width: 12rem;
  margin: 0.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column; }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.avatar {
  display: flex;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-self: center;
  margin: 2rem; }
  .avatar img {
    margin: 0 auto;
    border-radius: 50%;
    height: 100%; }

.container {
  padding: 0.5rem 1rem; }
