@import 'variables';

html, body {
  margin: 0;
  padding: 0;
  color: $textColor;
  background: $primaryColor;
  font-family: $primaryFont;
}

.myCards {
  display: flex;
  flex-wrap: wrap;
}

.card {
    border: 1px solid $textColor;
    transition: 0.3s;
    max-width: 10rem;
    margin: 0.5rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

img {
  max-width: 100%;
}
