@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700");
html, body {
  margin: 0;
  padding: 0;
  color: #C3D8EC;
  background: #0C2639;
  font-family: "Comfortaa"; }

.myCards {
  display: flex;
  flex-wrap: wrap; }

.card {
  border: 1px solid #C3D8EC;
  transition: 0.3s;
  max-width: 10rem;
  margin: 0.5rem; }

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.container {
  padding: 2px 16px; }

img {
  max-width: 100%; }
